<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div>
      <canvas id="myChart" width="900" height="400"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script>
      var dates = [
        new Date("2019-12-24"),
        new Date("2019-12-26"),
        new Date("2019-12-30"),
        new Date("2020-1-2"),
        new Date("2020-1-4"),
        new Date("2020-1-9"),
        new Date("2020-1-10")
      ];

      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
          labels: dates.map((d, i) => "Task " + i).splice(1),
          datasets: [{
            label: 'Tasks',
            data: dates.map((d, i) => i == 0 ? null : [dates[i - 1], d]).slice(1),
            backgroundColor: 'lightblue',
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                displayFormats: {
                  day: 'YYYY-MM-DD'
                }
              },
              ticks: {
                min: dates[0].getTime(), 
                max: dates[dates.length - 1].getTime()
              }
            }]
          }
        }
      });
    </script>
  </body>
</html>