<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div>
      <canvas id="myChart" width="900" height="400"></canvas>
      <body>
        <form action="/action_page.php">
          <label for="arrival times">Enter arrival times:</label>
          <input type="text" id="tasks" name="tasks"><br><br>
        </form>
      </body>
      <form action="/action_page.php">
        <label for="Execution Times">Enter execution times:</label>
        <input type="text" id="tasks" name="tasks"><br><br>
        <input type="submit" value="Schedule">
      </form>
    </body>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script>
      var values = {{data | safe}};
      var labels = {{labels | safe}};

      var backgroundColors = [];
      for (var i = 0; i < labels.length; i++) {
        backgroundColors.push(getRandomColor());
      }
    
      function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      }

      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Task',
            data: values,
            backgroundColor: backgroundColors,
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          scales: {
            xAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    </script>
  </body>
</html>